@charset 'utf-8';

/* font Reset */
/* Default color : #191a20*/
/* gray-scales
$black: #000;
$secondary: #8c8d96;
$tertiary: #b2b3b9;
$border: #e0e2e7;
$background: #f7f8fa;
$white: #fff; 
*/

body {
  overflow-x: hidden;
}

body,
button,
input,
textarea {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  letter-spacing: -0.05em;
  color: #191a20;
}

p {
  line-height: 1.6;
}

li {
  display: block;
}

/* container 영역 수정 */
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1030px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1030px;
  }
}

.col-fulid {
  padding: 0;
}

/* Landing Section Control */
#show-scene-0 #scroll-section-0 .sticky-elem {
  display: block;
}

/* LOCAL NAV */
.lnb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}
.local-nav-list {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.local-nav-item:first-child {
  margin-right: auto;
}

.locac-nav-item a {
  font-size: 0.8rem;
}

.local-nav-item .logo {
  font-size: 1.3rem;
  font-weight: 700;
}

.local-nav-item a:not(.logo) {
  margin-left: 2em;
}

/* Scroll Section */
.scroll-section {
  padding-top: 50vh;
}

.landing .title-message {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 4rem;
  color: #191a20;
  text-align: center;
  /* TODO: 약간 블러처리가 된 그림자 넣기 */
}

.landing-message {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height: 3em;
  font-size: 2.5rem;
}

.landing-message p {
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}

.sticky-elem {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.desc-message {
  width: 70%;
  font-weight: 700;
  opacity: 0;
}

.pin {
  width: 1px;
  height: 50px;
  background-color: #191a20;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  background-color: #ededed;
}

.test {
  font-size: 1.2em;
}

@media screen and (min-width: 1024px) {
  .scroll-section .title-message {
    font-size: 9vw;
  }

  .landing-message {
    font-size: 4vw;
  }

  .desc-message {
    font-size: 1.2rem;
    width: 20%;
  }
}
