@charset 'utf-8';

body {
  overflow-x: hidden;
}

body,
button,
input,
textarea {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  letter-spacing: -0.05em;
  color: #191a20;
}

p {
  line-height: 1.6;
}

li {
  display: block;
}

/* container 영역 수정 */
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1030px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1030px;
  }
}

.col-fulid {
  padding: 0;
}

/* Landing Section Control */
#show-scene-0 #scroll-section-0 .sticky-elem {
  display: block;
}

#scroll-section-0 .desc-message.c {
  top: 10%;
  left: 20%;
}

#scroll-section-0 .desc-message.f {
  top: 15%;
  left: 15%;
}

/* Canvas */
.sticky-elem-canvas {
  top: 0;
  height: 100%;
}

.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}
/* LOCAL NAV */
.lnb {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}

.local-nav-sticky .lnb {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  /* for iPhone */
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}

.local-nav-list {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.local-nav-item:first-child {
  margin-right: auto;
}

.locac-nav-item a {
  font-size: 0.8rem;
}

.local-nav-item .logo {
  font-size: 1.3rem;
  font-weight: 700;
}

.local-nav-item a:not(.logo) {
  margin-left: 2em;
}

/* Scroll Section 0 */
.scroll-section {
  padding-top: 50vh;
}

.landing .title-message {
  position: relative;
  top: 20vh;
  z-index: 5;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 4rem;
  color: #fffafa;
  text-align: center;
  /* TODO: 약간 블러처리가 된 그림자 넣기 */
}

.landing-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 60vh;
  opacity: 0;
  height: 3em;
  font-size: 2.5rem;
  word-break: keep-all;
}

.landing-message.g .title-message {
  top: 10vh;
  color: #191a20;
}

.landing-message p {
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  letter-spacing: -0.03em;

  color: #fffafa;
}

.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}

.desc-message {
  width: 70%;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: -0.05em;
  opacity: 0;
  color: #fffafa;
}

.pin {
  width: 1px;
  height: 50px;
  background-color: #fffafa;
}

/* INTRODUE SECTION - 2 */
.introduce-section {
  padding: 50vh 0 10vh 0;
}

.description {
  font-size: 1.1rem;
  color: #888;
  margin-bottom: 2rem;
}

.description strong {
  display: block;
  text-align: center;
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 4rem;
  color: #191a20;
  margin: 0 auto;
}

.description span {
  display: block;
  word-break: normal;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  background-color: #ededed;
}

.linked-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
}

.linked-content.notion {
  background-color: #f7f6f3;
}

.linked-content.github {
  background-color: rgba(132, 147, 171, 0.6);
}

.linked-content.velog {
  background-color: rgba(34, 201, 152, 0.6);
}

.linked-content.youtube {
  background-color: rgba(203, 89, 98, 0.6);
}

.image-wrapper {
  width: 38px;
  height: 38px;
}

.linked-content.notion .image-wrapper {
  width: 32px;
  height: 32px;
}

.image-wrapper img {
  display: block;
  width: 100%;
}

.linked-in-link {
  font-size: 1.3em;
  padding: 30px 0 30px 30px;
}

/* Contact Section */
.contact {
  background-color: #f2f8fa;
  padding: 50vh 0;
  /* TODO: 우선 패딩 50vh 로 해놨음 끝나고 10vh 로 바꾸기 */
}

.contact-image {
  padding: 25px 0;
}

.contact-image img {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.contact-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.contact-desc {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 45px;
}

#send-form .input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

#send-form .input-group input,
#send-form .input-group textarea {
  width: 100%;
  height: 48px;
  padding: 10px 16px;
  border-radius: 2px;
  background-color: #fff;
}
#send-form .input-group input {
  margin-bottom: 12px;
}

#send-form .input-group textarea {
  resize: none;
  height: 100px;
}

#send-form .send-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.05em;
  background-color: #3040c4;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#send-form .send-button:disabled {
  opacity: 0.4;
  cursor: disabled;
}

#send-form .send-button:hover {
  background-color: #232e91;
}

@media screen and (min-width: 768px) {
  .scroll-section .title-message {
    font-size: 12vw;
    top: 25vh;
  }

  .title-message-left {
    margin-right: 2rem;
  }

  .title-message-right {
    margin-left: 2rem;
  }

  .landing-message {
    font-size: 3rem;
  }

  .desc-message {
    font-size: 1.5rem;
  }

  .description {
    font-size: 2rem;
    margin-bottom: 5rem;
  }

  .description strong {
    display: inline;
    float: left;
    margin-top: 0.2em;
    margin-right: 0.2em;
    font-size: 5rem;
    color: #191a20;
  }

  .linked-content {
    height: 120px;
  }

  .image-wrapper {
    width: 50px;
    height: 50px;
  }

  .linked-content.notion .image-wrapper {
    width: 45px;
    height: 45px;
  }

  .linked-in-link {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 1000px) {
  .scroll-section .title-message {
    font-size: 9vw;
  }

  .landing-message {
    font-size: 4vw;
  }

  .desc-message {
    font-size: 1.5rem;
    width: 50%;
  }

  #scroll-section-0 .desc-message.c {
    top: 20%;
    left: 45%;
  }

  #scroll-section-0 .desc-message.f {
    width: 70%;
    left: 25%;
  }

  .linked-content {
    height: 180px;
  }

  .image-wrapper {
    width: 80px;
    height: 80px;
  }

  .linked-content.notion .image-wrapper {
    width: 70px;
    height: 70px;
  }
}
