@charset 'utf-8';

/* font Reset */
/* Default color : #191a20*/
/* gray-scales
$black: #000;
$secondary: #8c8d96;
$tertiary: #b2b3b9;
$border: #e0e2e7;
$background: #f7f8fa;
$white: #fff; 
*/

body {
  overflow-x: hidden;
}

body,
button,
input,
textarea {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  letter-spacing: -0.05em;
  color: #191a20;
}

p {
  line-height: 1.6;
}

li {
  display: block;
}

/* container 영역 수정 */
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1030px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1030px;
  }
}

.col-fulid {
  padding: 0;
}

/* Landing Section Control */
#show-scene-0 #scroll-section-0 .sticky-elem {
  display: block;
}

#scroll-section-0 .desc-message.c {
  top: 10%;
  left: 20%;
}

#scroll-section-0 .desc-message.f {
  top: 15%;
  left: 15%;
}

/* Canvas */
.sticky-elem-canvas {
  top: 0;
  height: 100%;
}

.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}
/* LOCAL NAV */
.lnb {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}

.local-nav-sticky .lnb {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  /* for iPhone */
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}

.local-nav-list {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.local-nav-item:first-child {
  margin-right: auto;
}

.locac-nav-item a {
  font-size: 0.8rem;
}

.local-nav-item .logo {
  font-size: 1.3rem;
  font-weight: 700;
}

.local-nav-item a:not(.logo) {
  margin-left: 2em;
}

/* Scroll Section */
.scroll-section {
  padding-top: 50vh;
}

.landing .title-message {
  position: relative;
  top: -10vh;
  z-index: 5;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 4rem;
  color: #191a20;
  text-align: center;
  /* TODO: 약간 블러처리가 된 그림자 넣기 */
}

.landing-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  opacity: 0;
  height: 3em;
  font-size: 2.5rem;
  word-break: keep-all;
}

.landing-message.g {
  top: 80vh;
}

.landing-message p {
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}

.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}

.desc-message {
  width: 70%;
  font-weight: 700;
  font-size: 1.2rem;
  opacity: 0;
}

.pin {
  width: 1px;
  height: 50px;
  background-color: #191a20;
}

/* INTRODUE SECTION - 2 */
.introduce-section {
  padding: 50vh 0 10vh 0;
}

.description {
  font-size: 1.5rem;
  color: #888;
  margin-bottom: 2rem;
}

.description strong {
  display: block;
  text-align: center;
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 4rem;
  color: #191a20;
  margin: 0 auto;
}

.description span {
  display: block;
  word-break: normal;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  background-color: #ededed;
}

.linked-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
}

.linked-content.notion {
  background-color: #f7f6f3;
}

.linked-content.github {
  background-color: #8493ab;
}

.linked-content.velog {
  background-color: #22c998;
}

.linked-content.youtube {
  background-color: #cb5962;
}

.image-wrapper {
  width: 30px;
  height: 30px;
}

.image-wrapper img {
  display: block;
  width: 100%;
}

.linked-in-link {
  font-size: 1.3em;
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 2rem;
  }

  .description strong {
    display: inline;
    float: left;
    margin-top: 0.2em;
    margin-right: 0.2em;
    font-size: 5rem;
    color: #191a20;
  }

  .linked-content {
    height: 120px;
  }
}

@media screen and (min-width: 1000px) {
  .scroll-section .title-message {
    font-size: 9vw;
  }

  .landing-message {
    font-size: 4vw;
  }

  .desc-message {
    font-size: 1.2rem;
    width: 50%;
  }

  #scroll-section-0 .desc-message.c {
    top: 20%;
    left: 45%;
  }

  #scroll-section-0 .desc-message.f {
    left: 35%;
  }

  .linked-content {
    height: 180px;
  }
}
